.cat {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #282a3e;
  height: fit-content;
  width: min-content;
  /* container-name: catCard;
  container-type: size; */

  & > img {
    border-radius: 0.5rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding-top: 0.5rem;
  align-content: flex-start;
}

@container catCard (min-height: 100px) {
  display: none;
}

.tag {
  padding: 0.5rem;
  border-radius: 999px;
  background-color: #414361;
  text-transform: capitalize;
  height: fit-content;
}
